[submodule "emails"]
	path = emails
	url = https://github.com/strongqa/howitzer_example_emails.git
[submodule "prerequisites"]
	path = prerequisites
	url = https://github.com/strongqa/howitzer_example_prerequisites.git
[submodule "web"]
	path = web
	url = https://github.com/strongqa/howitzer_example_web.git
[submodule "config"]
	path = config
	url = https://github.com/strongqa/howitzer_example_config.git
